<app-button [type]="number" [text]="1"></app-button>
<app-button [type]="number" [text]="2"></app-button>
<app-button [type]="number" [text]="3"></app-button>
<app-button [type]="number" [text]="4"></app-button>
<app-button [type]="number" [text]="5"></app-button>
<app-button [type]="number" [text]="6"></app-button>
<app-button [type]="number" [text]="7"></app-button>
<app-button [type]="number" [text]="8"></app-button>
<app-button [type]="number" [text]="9"></app-button>
<app-button [type]="number" [text]="0"></app-button>