<table>
    <tr>
        <td><app-button [text]="1"></app-button></td>
        <td><app-button [text]="2"></app-button></td>
        <td><app-button [text]="3"></app-button></td>
    </tr>
    <tr>
        <td><app-button [text]="4"></app-button></td>
        <td><app-button [text]="5"></app-button></td>
        <td><app-button [text]="6"></app-button></td>
    </tr>
        <tr>
        <td><app-button [text]="7"></app-button></td>
        <td><app-button [text]="8"></app-button></td>
        <td><app-button [text]="9"></app-button></td>
    </tr>
    <tr>
        <td><app-button [text]="'.'"></app-button></td>
        <td><app-button [text]="0"></app-button></td>
        <td><app-button [text]="'C'"></app-button></td>
    </tr>
</table>